<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432208162648-qsbvhcvf2hq1m6o6ncaca6dft4asb2u9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432208162648-qsbvhcvf2hq1m6o6ncaca6dft4asb2u9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>432208162648-5hbd4kbij0t9lkvr0gfp572ehd63raet.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCvuiboEjlRHi21BuH0cVO2lDk4v11TiGM</string>
	<key>GCM_SENDER_ID</key>
	<string>432208162648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.talisman.Talisman</string>
	<key>PROJECT_ID</key>
	<string>talisman-test-89c16</string>
	<key>STORAGE_BUCKET</key>
	<string>talisman-test-89c16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432208162648:ios:be3b09903439a80b39bf2d</string>
	<key>DATABASE_URL</key>
	<string>https://talisman-test-89c16.firebaseio.com</string>
</dict>
</plist>