* { box-sizing: border-box; }

html {
  font-family: arial;
  height: 100%;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  box-shadow: inset 0px 17px 26px -15px #9f9f9f;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 10vh;
  height: 100%;
}

section {
  width: 80vw;
  min-height: 60vh;
  display: none;
  background: white;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0 0 12px -6px black;
  overflow: hidden;
}

section.active {
  display: flex;
}

.button {
  cursor: pointer;
  background: #F5F5B5;
  border-radius: 0.5rem;
}

.header .button, .footer .button {
  padding: 1rem;
  margin: 0.5rem;
}

.content .button {
  padding: 0.2rem;
  margin: 0 0.2rem;
}

section > .content {
  font-size: 1rem;
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0.5rem;
  text-align: center;
}

#post-signin > .content > *,
#setupbutton > .content > * {
  text-align: left;
  display: block;
  width: 100%;
}

section > .content input {
  font-size: inherit;
}

section .header, section .footer {
  display: flex;
  flex-direction: row-reverse;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  pointer-events: none;
  transition: 200ms opacity linear;
  opacity: 0;
}

#loading.loading {
  opacity: 1;
  pointer-events: auto;
}

#testbuttonlogs {
  height: 20vh;
  width: 80vw;
  text-align: left;
  padding: 1rem;
  font-size: 0.5rem;
  background: black;
  color: white;
  overflow: scroll;
}

#daycloudcont {
  box-shadow: 0 0 12px -6px black;
  background: #29dbe8;
  text-align: left;
}

#daycloudcont > div > p::before {
  display: inline-block;
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  margin: 0 1rem;
  vertical-align: middle;
}

#daycloudcont > div > p:nth-of-type(1)::before {
  background-color: yellow;
}

#daycloudcont > div > p:nth-of-type(2)::before {
  background-color: white;
}

#daycloudcont > div > p:nth-of-type(3)::before {
  background-color: #888;
}

#calendar {
  margin-top: 2rem;
  width: calc(7 * 2rem + 1px);
  display: flex;
  flex-wrap: wrap;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: black;
}

#calendar > div {
  font-size: 1rem;
  width: 2rem;
  height: 2rem;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: black;
  line-height: 2rem;
  vertical-align: middle;
  background-color: #F0F0F0;
}

#calendar > .past {
  background-color: white;
}

#calendar > .today {
  background-color: white;
}

#landing-identified .content .button {
  padding: 2rem;
  border-radius: 2rem;
}

.username {
  text-transform: capitalize;
}
