* { box-sizing: border-box; }

html {
  font-family: arial;
  height: 100%;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  box-shadow: inset 0px 17px 26px -15px #9f9f9f;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 10vh;
  height: 100%;
}

section {
  width: 80vw;
  min-height: 60vh;
  display: none;
  background: white;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0 0 12px -6px black;
  overflow: hidden;
}

section.active {
  display: flex;
}

.header .button, .footer .button {
  cursor: pointer;
  background: #F5F5E5;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem;
}

.content .button {
  cursor: pointer;
  border-bottom: 1px dashed #000;
}

section > .content {
  font-size: 1rem;
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0.5rem;
  text-align: center;
}

#setupbutton > .content > p {
  text-align: left;
}

section > .content input {
  font-size: inherit;
}

section .header, section .footer {
  display: flex;
  flex-direction: row-reverse;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  pointer-events: none;
  transition: 200ms opacity linear;
  opacity: 0;
}

#loading.loading {
  opacity: 1;
  pointer-events: auto;
}

#testbuttonlogs {
  height: 20vh;
  width: 80vw;
  text-align: left;
  padding: 1rem;
  font-size: 0.5rem;
  background: black;
  color: white;
  overflow: scroll;
}
